In [1]:
import pandas

Dados obtidos por conversão das variáveis em R.
Usei o packages TCGA BioLinks para transferir e depois exportei.

A lógica
```r
write_csv(seqdata, 'seqdata.csv') # Para excluir os rownames e manter os nomes do gene
write_csv(meta, 'meta.csv', rownames = FALSE) # Para manter o barcode
```

In [6]:
seqdata = pandas.read_csv('./dataset/seqdata.csv')
seqdata.head()

,Unnamed: 0,TCGA-38-7271-01A-11R-2039-07,TCGA-55-7914-01A-11R-2170-07,TCGA-95-7043-01A-11R-1949-07,TCGA-73-4658-01A-01R-1755-07,TCGA-86-8076-01A-31R-2241-07,TCGA-55-7726-01A-11R-2170-07,TCGA-44-6147-01A-11R-A278-07,TCGA-50-5932-01A-11R-1755-07,TCGA-44-2661-01A-01R-1107-07,...,TCGA-50-5946-02A-11R-2090-07,TCGA-86-7713-01A-11R-2066-07,TCGA-86-8073-01A-11R-2241-07,TCGA-44-2662-01B-02R-A277-07,TCGA-MN-A4N4-01A-12R-A24X-07,TCGA-53-7626-01A-12R-2066-07,TCGA-62-A46O-01A-11R-A24H-07,TCGA-44-A47G-01A-21R-A24H-07,TCGA-55-6969-01A-11R-1949-07,TCGA-55-6969-11A-01R-1949-07
0,TSPAN6,1536,2936,1475,3659,3269,1188,2178,4545,4558,...,5188,8522,3418,667,3365,3249,5948,2272,2233,513
1,TNMD,0,0,0,188,0,0,4,0,0,...,0,0,0,10,0,0,0,0,0,1
2,DPM1,765,1447,1275,981,1540,1564,1430,1557,2089,...,2778,2548,2937,554,2244,1969,1174,851,2803,754
3,SCYL3,510,827,373,456,1171,269,1139,1185,1025,...,1031,2384,1008,716,777,1345,628,565,940,350
4,C1orf112,172,241,172,158,318,219,434,322,315,...,969,1790,592,619,451,427,572,199,647,73

In [32]:
meta = pandas.read_csv('./dataset/meta.csv')
meta.head()

                        barcode  gender           expr
0  TCGA-38-7271-01A-11R-2039-07  female            NaN
1  TCGA-55-7914-01A-11R-2170-07  female            TRU
2  TCGA-95-7043-01A-11R-1949-07  female  prox.-prolif.
3  TCGA-73-4658-01A-01R-1755-07  female   prox.-inflam
4  TCGA-86-8076-01A-31R-2241-07    male            NaN

In [76]:
# Remover NAs do expr. subtype
if meta['expr'].isna().any():
    print(f'existem {meta['expr'].isna().sum()} dados omissos')
    meta_clean = meta.dropna(how='any')

if len(meta_clean) == 248:
    print(f'data set de subtipo de expressão contém 248 valores como esperado, com tamanho {len(meta_clean)}')

existem 352 dados omissos
data set de subtipo de expressão contém 248 valores como esperado, com tamanho 248

In [72]:
# Filtrar seqdata com base no filtro
seqdata_clean = seqdata[meta_clean['barcode']] # Não é preciso validar pois as colunas já estão pelo nome

if seqdata_clean.shape[1] == 248:
    print(f'data set de dados de expressão corretamente filtrado, com tamanho {seqdata_clean.shape[1]}')

data set de dados de expressão corretamente filtrado, com tamanho 248